<div class="container-fluid background1">
  <div class="d-flex h-50 p-lg-5">

    <h5 class="text-light project-header-title" style="word-break: normal;">School Analytics</h5>
  </div>
</div>
@if(school){
<div class="container-fluid">
  <div class="row g-5 gy-3 mt-5 w-90 mx-auto">
    <div class="col-lg-6">
      <div class="rectangle1 rectangleFontColor2">
        @if(editMode){

        <div class="container">
          <!-- School Name -->
          <div class="row form-group mb-2">
            <label for="name" class="col-sm-4 col-form-label">School Name</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.name" id="name" name="name" class="form-control"
                placeholder="School Name">
            </div>
          </div>

          <!-- School Code -->
          <div class="row form-group mb-2">
            <label for="code" class="col-sm-4 col-form-label">School Code</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.code" id="code" name="code" class="form-control"
                placeholder="School Code">
            </div>
          </div>

          <!-- School Curriculums -->
          <div class="row form-group mb-2">
            <label for="curriculums" class="col-sm-4 col-form-label">School Curriculums</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.curriculums" id="curriculums" name="curriculums"
                class="form-control" placeholder="School Curriculums">
            </div>
          </div>

          <!-- School Grade -->
          <div class="row form-group mb-2">
            <label for="grade" class="col-sm-4 col-form-label">School Cycle</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.grade" id="grade" name="grade" class="form-control"
                placeholder="School Grade">
            </div>
          </div>

          <!-- School Education Type -->
          <div class="row form-group mb-2">
            <label for="educationType" class="col-sm-4 col-form-label">Education Type</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.educationType" id="educationType" name="educationType"
                class="form-control" placeholder="School Education Type">
            </div>
          </div>

          <!-- School Zone -->
          <div class="row form-group mb-2">
            <label for="zone" class="col-sm-4 col-form-label">School Zone</label>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="school.zone" id="zone" name="zone" class="form-control"
                placeholder="School Zone">
            </div>
          </div>
        </div>

        }

        @else {

        <h1 id="schoolName fw-bold">School name: {{school.name}}</h1>
        <div class="schoolDetails">
          <p>school id : {{school.code}}</p>
          <p>school email : {{school.schoolEmail}}</p>
          <p>Curriculums : {{school.curriculums}}</p>
          <p>Cycle : {{school.grade}}</p>
          <p>Education Type : {{school.educationType}}</p>
          <p>zone : {{school.zone}}</p>
        </div>


        }
        <button class="submit-button float-lg-end me-2" (click)="editMode ? saveUpdates() : toggleEditMode()">
          {{ editMode ? 'Save Changes' : 'Update Profile' }}
        </button>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="table-container shadow">
        <p class="text-md-start text-center">Best School</p>
        <hr>
        <table class="table-responsive">
          <tbody>
            <tr>
              <td style="white-space: nowrap;">School 1</td>
              <td class="w-100">
                <div class="progress">
                  <div class="progress-bar" style="width: 50%;"></div>
                </div>
              </td>
              <td>50%</td>
            </tr>
            <tr>
              <td>School 2</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width: 30%;"></div>
                </div>
              </td>
              <td>30%</td>
            </tr>
            <tr>
              <td>School 3</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width: 20%;"></div>
                </div>
              </td>
              <td>20%</td>
            </tr>
            <tr>
              <td>School 4</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width: 10%;"></div>
                </div>
              </td>
              <td>10%</td>
            </tr>
            <tr>
              <td>School 5</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" style="width: 10%;"></div>
                </div>
              </td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div>



  <!--Participated Assessments  -->
  <div class="row row-bg gx-5 gy-3 mt-5 w-90 mx-auto">
    <h2 class="fw-bolder">Participated Assessments</h2>
    <div class="container">

      <div class="row gy-3 mb-5">
        <div class="col-lg-1 col-2 align-self-center">
          <button class="btn btn-primary rounded-circle" (click)="previous()" [disabled]="currentIndex === 0">
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>

        <!-- Using *ngFor to iterate over projects -->
        @for(projectt of displayedProjectInSchool;track projectt.id){
        <div class="col-lg-3 col-8">
          <div class="card">
            <div class="header">
              <h2>{{ projectt.name }}</h2>
              <p>Completion percentage: {{ projectt.taskCompletePercentage }}</p>
            </div>
            <div class="chart">
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType">
                </canvas>
              </div>
            </div>
            <button class="submit-button align-self-end"
              [routerLink]="['/SchoolDashboardTask', projectt.id]">Tasks</button>
          </div>
        </div>
        }
        <div class="col-lg-1 col-2 align-self-center">
          <button class="btn btn-primary rounded-circle" (click)="next()"
            [disabled]="currentIndex >= lastIndexProjectInSchool - itemsPerPage">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>

    </div>
  </div>



  <!-- reports -->
  <!-- @if(school.files.length>0){ -->
  <div class="row mt-5 w-90 mx-auto marginBottom">
    <h1 class="reportTitle">Reports</h1>
    <div class="tableReports-container">
      <table class="table-responsive">
        <thead>
          <tr>
            <th>Reports</th>
            <th>Date</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          @for (report of school.files; track report.id) {
          <tr>
            <td>{{report.name}}</td>
            <td>{{report.endDate|date}}</td>
            <td><button class="border border-1 rounded-2 p-1 downloadBtn text-light"
                (click)="downloadFile(report.url)">Download</button></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
<!-- } -->

<!-- @else {
  <h3 class="mt-4">No Tasks Added</h3>
} -->
</div>
}
