
$dashboardColorTable:#04756e;
@import url('../../../../../../SharedStyles/backButton.scss');
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.colorIntable {
  color: $dashboardColorTable;
}


th,
td {
  color: $dashboardColorTable;
}
