    <!-- Semi-transparent background overlay -->
    <div class="overlay"></div>

    <div class="modal1">
      <div class="modal-header1">
        <button class="btn-close"></button>
      </div>
      <div class="modal-content1">
        <div class="container margintop">
          <div class="row justify-content-between margintop mb-5">

            <div class="col-lg-7 text-start">
              <h3 class="fw-bold taskTitle color1 ">Task title </h3>
              <p class="color1">Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo
                Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing
                Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo Bathing Shampoo</p>
              <div class="margintop">
                <button class="submit-button me-3">Cancel</button>
                <button class="submit-button">Done</button>
              </div>
            </div>
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-5 mt-3 ">
              <div class="right-rect d-flex flex-column justify-content-center align-items-center">
                <img src="assets/file.png" width="80" height="77">
                <button class="download-upload-button mt-2 mb-2">download template</button>
                <button class="download-upload-button mt-2 mb-2 border-0">Upload File</button>
                <button class="download-upload-button mb-3">File No. 1</button>
                <button class="download-upload-button mb-3">File No. 2</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
