@if(toastService.showToast | async){
  <div class="alert w-50 mx-auto alert-dismissible" [class.alert-success]="!(toastService.isError | async)"
    [class.alert-danger]="(toastService.isError | async)">

    {{ toastService.message | async }}
    <button type="button" class="btn-close" (click)="toastService.showToast.next(false)"></button>
  </div>
  }


  <div class="container card shadow p-5">


    <form [formGroup]="schoolProjectForm" (ngSubmit)="onSubmitSchool()">
      <select multiple  class="form-control select-multiple" (change)="onSchoolSelectionChange($event)">
        <ng-container formArrayName="schoolsIds">
          @for(school of schools; track $index) {
            <option [value]="school.id" >{{ school.name }}</option>
          }
        </ng-container>
      </select>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!schoolProjectForm.valid">Submit</button>
    </form>


  </div>


