<div class="container-fluid background1 mb-5">
  <div class="d-flex align-items-center h-50 p-5">

    <h5 class="text-light project-header-title">Assignments</h5>
  </div>
</div>
<div class="container mb-5">
  <section>
    <div class="row mb-5">
      <div class="col">
        <input type="date" class="form-control" [(ngModel)]="filterDate" (ngModelChange)="applyFilters()"
          placeholder="Filter by date (dd/mm/yyyy)">
      </div>
      <div class="col">
        <select class="form-control" [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
          <option value="" disabled>Select Status</option>
          <option value="New">New</option>
          <option value="In Progress">Review</option>
          <option value="Completed">Completed</option>
          <option value="Rejected">Rejected</option>
        </select>
      </div>
    </div>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" class="border-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>School Name</th>
            <th>Create Date</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Actions</th>
            <th>Download</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" class="border-0">
        <tbody>
          @for (assignment of filteredAssignments;track assignment.id) {
          <tr>
            <td>{{assignment.name}}</td>
            <td>{{assignment.schoolName}}</td>
            <td>{{assignment.created|date:'dd/MM/yyyy'}}</td>
            <td>{{assignment.status}}</td>
            <td>{{assignment.commentToSchool}}</td>
            <td>
              <!-- <button class="btn btn-primary me-2" (click)="goTaskDetails(task.id)"><i
                  class="fa-solid fa-eye"></i></button> -->
              <button class="btn btn-success me-2" (click)="EditAssignment(assignment.assignmentId)"><i
                  class="fa-solid fa-pen-to-square"></i></button>
            </td>
            <td><button class="btn btn-info text-light" (click)="DownloadFile(assignment.url)"
                title="Download">Download</button></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
  <button type="button" (click)="goBack()" class="btn btn-primary">Back</button>

</div>
