

<div class="container-fluid background1">
  <div class="d-flex h-50 p-lg-5">

    <h5 class="text-light project-header-title" style="word-break: normal;">School Tickets</h5>
  </div>
</div>
<section class="container mt-5">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" class="border-0">
      <thead>
        <tr>
          <th>School Name</th>
          <th>Subject</th>
          <th>Description</th>
          <th>CreatedAt</th>
          <th>Response</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" class="border-0">
      <tbody>
        @for (ticket of schoolTickets; track ticket.id) {
        <tr>
          <td>{{ticket.schoolName}}</td>
          <td>{{ticket.subject}}</td>
          <td>{{ticket.description}}</td>
          <td>{{ticket.createdAt}}</td>
          @if (ticket.response) {
            <td>{{ticket.response}}</td>
          }
          @else {
            <td class="text-danger">No Response Yet</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>

