<section>
  <h1>All Schools</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" class="border-0">
      <thead>
        <tr>
          <th>School Name</th>
          <th>School Manager</th>
          <th>School ID</th>
          <th>Zone</th>
          <th>Curriculums</th>
          <th>EducationType</th>
          <th>Grade</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" class="border-0">
      <tbody>
        @for (school of schools; track school.id) {
        <tr>
          <td>{{school.name}}</td>
          <td>{{school.schoolEmail}}</td>
          <td>{{school.code}}</td>
          <td>{{school.zone}}</td>
          <td>{{school.curriculums}}</td>
          <td>{{school.educationType}}</td>
          <td>{{school.grade}}</td>
          <td><button class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button></td>
          <td><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</section>

