    <!-- Semi-transparent background overlay -->
    <div class="overlay"></div>

    <div class="modal1">
      <div class="modal-header1">
          <button class="btn-close" (click)="hideFunc()"></button>
      </div>
      <div class="modal-content1">
          <div class="modal-icon1">
              <span>✔</span> <!-- Replace with an actual checkmark icon if needed -->
          </div>
          <h2>Your Ticket has been sent successfully, thank you!</h2>
          <!-- <p>Your ticket No. is 00000</p> -->
      </div>
  </div>
