/* table */
.tableReports-container {
  width: 100%;
  padding: 20px;
  // overflow-x: auto;
  background-color: #F2FBFC;
  border-radius: 10px;

}
table {
  width: 100%;
  border-collapse: collapse;
}

.reportCaption {
  caption-side: top;
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
  border-bottom: 3px solid #7B7B7B;
  border-top: 3px solid #7B7B7B;
  color: #707070;
}


th,
td {
  text-align: left;
  padding: 12px 15px;
  color: #707070;

}

th {
  border-bottom: 1px solid #7B7B7B;
  border-top: 1px solid #7B7B7B;
  color: #707070;
}

td a {
  color: #fff;
  text-decoration: none;
  border-color: #EBEBEB;
}

/* Responsive table */
@media screen and (max-width: 600px) {
  .table-container {
    padding: 0;
  }



  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
    // text-align: left;
  }

  table tr {
    margin-bottom: 15px;
  }
  table thead{
    display: none;
  }
}
