<div class="container-fluid background1 mb-5">
  <div class="d-flex align-items-center h-50 p-5">

    <h5 class="text-light project-header-title">Admin Dashboard</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">


      <div id="dashboard-wrapper">
        <!-- Sidebar -->
        <div id="sidebar" class="bg-sidebar">
          <div class="sidebar-sticky">
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Users
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link" routerLink="/AdminDashboard" routerLinkActive="active"><i
                            class="fa-solid fa-user-plus"></i>Create User</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/GetAccounts" routerLinkActive="active"><i
                            class="fa-solid fa-users"></i>View Users</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    School
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link" routerLink="/AdminSchool" routerLinkActive="active"><i
                            class="fa-solid fa-school"></i>Create School</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/GetSchools" routerLinkActive="active"><i
                            class="fa-solid fa-school-circle-check"></i>View Schools</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    News
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link" routerLink="/AllNewsDashboard"
                          routerLinkActive="active"><i class="fa-solid fa-newspaper"></i>All News</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/NewsDashboard" routerLinkActive="active"><i class="fa-regular fa-folder-open"></i>View Public News</a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTicket" aria-expanded="false" aria-controls="collapseTicket">
                    Tickets Dashboard
                  </button>
                </h2>
                <div id="collapseTicket" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/TicketsAdminDashboard" routerLinkActive="active"><i class="fa-solid fa-ticket"></i>View Tickets</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>

    </div>
  </div>
